.fgardens-lblock.variant-1 {
  border-color: #a9e533;
}

.fgardens-lblock.variant-2 {
  border-color: #f9ce00;
}

.fgardens-lblock.variant-3 {
  border-color: #ffaf41;
}

.fgardens-lblock.variant-4 {
  border-color: #ff8d86;
}

.fgardens-lblock.variant-5 {
  border-color: #ff81d6;
}

.fgardens-lblock.variant-6 {
  border-color: #ff98ff;
}

.fgardens-lblock.variant-7 {
  border-color: #cfbdff;
}

.fgardens-lblock {
  border-width: 0 0 0 3px;
  border-style: solid;
  margin: 0;
  padding: 0 0 0 20px;
}

.fgardens-mp {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.ordinal-display-large {
  font-size: 300%;
  text-align: center;
}

.fgardens-text-outline {
  text-shadow: 0.025em 0.000em 0 #e8e8e8, 0.018em 0.018em 0 #e8e8e8, 0.000em 0.025em 0 #e8e8e8,
  -0.018em 0.018em 0 #e8e8e8, -0.025em 0.000em 0 #e8e8e8, -0.018em -0.018em 0 #e8e8e8,
  -0.000em -0.025em 0 #e8e8e8, 0.018em -0.018em 0 #e8e8e8, 0.050em 0.000em 0 #e8e8e8,
  0.048em 0.013em 0 #e8e8e8, 0.043em 0.025em 0 #e8e8e8, 0.035em 0.035em 0 #e8e8e8,
  0.025em 0.043em 0 #e8e8e8, 0.013em 0.048em 0 #e8e8e8, 0.000em 0.050em 0 #e8e8e8,
  -0.013em 0.048em 0 #e8e8e8, -0.025em 0.043em 0 #e8e8e8, -0.035em 0.035em 0 #e8e8e8,
  -0.043em 0.025em 0 #e8e8e8, -0.048em 0.013em 0 #e8e8e8, -0.050em 0.000em 0 #e8e8e8,
  -0.048em -0.013em 0 #e8e8e8, -0.043em -0.025em 0 #e8e8e8, -0.035em -0.035em 0 #e8e8e8,
  -0.025em -0.043em 0 #e8e8e8, -0.013em -0.048em 0 #e8e8e8, -0.000em -0.050em 0 #e8e8e8,
  0.013em -0.048em 0 #e8e8e8, 0.025em -0.043em 0 #e8e8e8, 0.035em -0.035em 0 #e8e8e8,
  0.043em -0.025em 0 #e8e8e8, 0.048em -0.013em 0 #e8e8e8;
}
